<%- include('header') -%>

<body class="leikir" >
    <section>
        <h2>Teams</h2>
        <ul>
          <% teams.forEach(function(team) { %>
            <li><%= team.name %></li>
          <% }); %>
        </ul>
    </section>
    <section>
        <h2>Teams</h2>
        <ul>
          <% teams.forEach(function(team) { %>
            <li><%= team.name %></li>
          <% }); %>
        </ul>
    </section>
    <section>
        <h2>Teams</h2>
        <ul>
          <% teams.forEach(function(team) { %>
            <li><%= team.name %></li>
          <% }); %>
        </ul>
    </section>
</body>


<%- include('footer') -%>




