<%- include('header') -%>

    <section>
        <h2>Leikir</h2>
        <table>
            <thead>
                <tr>
                    <th>Tími</th>
                    <th>Heimalið</th>
                    <th>Stig</th>
                    <th>Gestalið</th>
                    <th>Stig</th>
                </tr>
            </thead>
            <tbody>
                <% games.forEach(function(game) { %>
                    <tr>
                      <td><%= game.date %></td>
                      <td><%= game.home.name %></td>
                      <td><%= game.home.score %></td>
                      <td><%= game.away.name %></td>
                      <td><%=  game.away.score %></td>
                    </tr>
                  <% }); %>
            </tbody>
        </table>
    </section>

</main>
</body>


<%- include('footer') -%>




